section {
  padding-block: var(--section-padding-y, 100px);
}

.section-header {
  display: grid;
  gap: var(--space-28, 28px);
  margin-bottom: var(--space-100, 100px);
}

.section-header__line {
  width: 100px;
  height: auto;
}
