.blog {
  position: relative;
  background: var(--color-light);
  padding-bottom: 139px;
}

.blog::before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: -100px;
  width: 35%;
  height: 100px;
  background-color: var(--color-light);
  border-top-right-radius: 100px;
  pointer-events: none;
}

.blog__container {
  position: relative;
  z-index: 1;
}

.blog-card__link {
  max-width: 238px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 21px;
}

@media (max-width: 1024px) {
  .blog__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .blog__list {
    grid-template-columns: 1fr;
  }
}
