.cta-support {
  background-color: var(--color-bg);
}

.cta-support__container {
  width: calc(100% - clamp(30px, 17.59px + 2.59vw, 60px));
  margin-inline: auto;
}

.cta-support__layout {
  display: grid;
  grid-template-columns: minmax(0, 1.4fr) minmax(0, 0.6fr);
  gap: 75px;
  align-items: center;
  padding: 20px;
  border-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid var(--color-green);
  border-right: transparent;
}

.cta-support__media {
  padding: 20px;
  border: 2px solid var(--color-green);
  border-radius: 1000px;
  position: relative;
}

.cta-support__picture {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1000px;
  overflow: hidden;
}

.cta-support__button {
  max-width: 280px;
}

.cta-support__image {
  width: 100%;
  aspect-ratio: 1045 / 610;
  object-fit: cover;
  transform: scale(1.03);
}

.cta-support__content {
  display: grid;
  gap: 32px;
}

.cta-support__body {
  font-family: var(--font-main);
  font-size: clamp(1.125rem, 2vw, 40px);
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-text);
}

/* Laptop — MacBook Air 13" (1440/1470) */
@media (max-width: 1536px) { }

/* Tablet — iPad / iPad Air portrait (810–834), iPad Pro 12.9" (1024) */
@media (max-width: 1024px) {
  .cta-support__layout {
    grid-template-columns: 1fr;
    border: none;
    padding: 0;
 }
 .cta-support__image {
  transform: none;
  object-fit: contain;
 }
}

/* Tablet mini — iPad mini portrait (744–768) */
@media (max-width: 768px) { }

/* Mobile — (375–440) */
@media (max-width: 480px) {
  .cta-support__layout {
    gap: 30px;
  }
  .cta-support__media {
    border: none;
    padding: 0;
  }
  .cta-support__button {
    max-width: 100%;
  }
 }

