picture {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

[class$='__picture'] {
  overflow: hidden;
}

[class$='__image'] {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.site-header__logo-image,
.site-footer__logo-image,
.hero__icon-image,
.demo__play-icon,
.testimonial-card__quote-icon,
.site-footer__social-icon {
  width: auto;
  object-fit: contain;
}
