.section-title {
  font-family: var(--font-display);
  font-size: clamp(2rem, 4vw, 55px);
  line-height: 1;
  font-weight: 500;
  color: var(--color-text);
}

.section-text {
  font-family: var(--font-main);
  font-size: clamp(1rem, 2vw, 22px);
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-text);
  max-width: 435px;
  position: relative;
}

.section-text::before {
  content: '';
  position: absolute;
  top: -25px;
  display: block;
  width: 2px;
  height: 100px;
  background-color: var(--color-green);
  transform: rotate(30deg);
  left: -55px;
}

.eyebrow {
  font-family: var(--font-main);
  font-size: clamp(1rem, 1.5vw, 26px);
  line-height: 1.2;
  font-weight: 400;
}

.card-title {
  font-family: var(--font-display);
  font-size: clamp(1.1rem, 2.5vw, 40px);
  line-height: 1;
  font-weight: 400;
  color: inherit;
}

.card-text {
  font-family: var(--font-main);
  font-size: clamp(1rem, 1.5vw, 22px);
  line-height: 1.4;
  font-weight: 400;
  color: inherit;
}

.hero__title {
  font-family: var(--font-display);
  font-size: clamp(2.25rem, 5vw, 61px);
  line-height: 1;
  font-weight: 500;
  color: var(--color-text);
}
